body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efd8d8;
}

header {
    overflow: hidden;
    position: relative;
    background-color: #d93d3dc7;
    color: #fff;
    padding: 10px 0;
    white-space: nowrap;
}


.marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee-wrapper {
    display: inline-block;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}


footer {
    background-color: #d93d3dc7;
    color: #fff;
    text-align: center;
    padding: 0px;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.container {
    display: flex;
    height: 80vh;
}

.users-container {
    width: 300px;
    overflow-y: auto;
    border-right: 1px solid #d93d3da0;
}

.users {
    padding: 0;
    margin: 0;
    list-style: none;
}

.person {
    display: flex;
    align-items: center;
    padding: 10px 1rem;
    cursor: pointer;
    border-bottom: 1px solid #d93d3da0;
}

.person:hover {
    background-color: #f7f9fb;
}

.user {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.status.online {
    background: #9ec94a;
}

.status.offline {
    background: #c4d2e2;
}

.status.away {
    background: #f9be52;
}

.status.busy {
    background: #fd7274;
}

.name-time {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
}

.time {
    font-weight: 400;
    color: #8796af;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.selected-user {
    padding: 0 15px;
    min-height: 64px;
    line-height: 64px;
    border-bottom: 1px solid #d93d3da0;
    border-radius: 0 3px 0 0;
}

.chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    list-style: none;
    margin: 0;
    height: 78%;
}

.chat-box li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.chat-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.chat-text {
    padding: 10px;
    border-radius: 4px;
    background: #fff;
}

.chat-hour {
    font-size: 0.75rem;
    color: #999;
}

.chat-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background-color: #d93d3da0;
    border-top: 1px solid #ddd;
    border-radius: 12px;
    margin-top: 15px;
}

.chat-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.user-chat-box {
    color: rgb(221, 84, 84);
    font-weight: bold;
}

.message-chat-box {
    color: #333;
    margin-left: 5px;
}

.user-message {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: right;
}

.other-message {
    background-color: #dd242439;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.send-button {
    background-color: #dd2424;
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.send-button:hover {
    background-color: #dd242497;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.send-button:active {
    background-color: #dd2020;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.usernameId {
    padding: 5px;
    background-color: #d93d3da0;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usernameId h1 {
    font-size: 20px;
    margin: 0;
    margin-right: 10px;
}

.usernameId h1:last-child {
    margin-right: 0;
}

.tagSection {
    padding: 10px;
    background-color: #d93d3d48;
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.return-button {
    display: none;
    position: relative;
    /* top: 10px; */
    left: 10px;
    background-color: #ff000000;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.return-button img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .return-button {
        display: block;
    }

    .users {
        width: 100%;
        height: auto;
        overflow-y: auto;
    }

    .users-container {
        width: 100%;
        height: auto;
        overflow-y: auto;
    }

    .chat-container {
        display: none;
    }

    .chat-box {
        height: 60vh;
    }

    .contact-title {
        display: none;
    }

    .chat-form {
        flex-direction: row;
        align-items: center;
    }

    .chat-form input[type="text"] {
        flex: 1;
    }

    .chat-form button {
        flex-shrink: 0;
    }
}

.profile-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #007BFF;
    text-decoration: underline;
}

.profile-button:hover {
    text-decoration: none;
}

.profile-button img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.logo-small {
    top: 10px;
    left: 20px;
    position: relative;
    height: 4rem;
    width: 10rem;
    overflow: hidden;
}

.message-chat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.message-time {
    font-size: 0.8em;
    color: gray;
    white-space: nowrap;
}

.person.selected {
    background-color: white !important;
}

.tagSection {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-flex;
    align-items: center;
    background-color: #ffdddd; /* Fondo rosado claro */
    border: 1px solid #ff4d4d; /* Borde rojo */
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 14px;
    color: #ff4d4d;
}

.tag:hover {
    background-color: #e15c5cc7;
}

.tag:active {
    background-color: #da7272c7;
}

.remove-btn {
    background: none;
    border: none;
    color: #ff4d4d;
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.remove-btn:hover {
    color: #ff0000; /* Rojo más intenso al pasar el ratón */
}


.swal2-popup {
    font-family: Arial, sans-serif;
}


.swal2-confirm,
.swal2-cancel,
.swal2-close {
    background-color: #d93d3dc7;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.swal2-confirm:hover,
.swal2-cancel:hover,
.swal2-close:hover {
    background-color: #d93d3dc7;
}


.swal2-cancel {
    background-color: #d93d3dc7;
}

.swal2-cancel:hover {
    background-color: #d93d3dc7;/
}


.swal2-confirm {
    background-color: #d74848c7;
}

.swal2-confirm:hover {
    background-color: #da7e7ec7;
}


.swal2-close {
    color: #da2b2b;
}

/* Estilo para el contenedor del dropdown */
.swal2-select {
    background-color: #fff; /* Fondo blanco del dropdown */
    border: 1px solid #ff4d4d; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
}

/* Estilo para las opciones del dropdown */
.swal2-select option {
    background-color: #fff; /* Fondo blanco para cada opción */
    color: #333; /* Color del texto */
    padding: 8px; /* Espaciado interno */
}

/* Estilo para las opciones seleccionadas */
.swal2-select option:checked {
    background-color: #ff4d4d; /* Fondo rojo para opción seleccionada */
    color: #fff; /* Color del texto en blanco para opción seleccionada */
}

/* Estilo para el dropdown al pasar el ratón */
.swal2-select:hover {
    border-color: #e60000; /* Borde rojo más oscuro al pasar el ratón */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

/* Estilo general para los campos de entrada en SweetAlert2 */
.swal2-input {
    border: 1px solid #ff4d4d; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color del texto */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* Estilo para los campos de entrada al recibir foco */
.swal2-input:focus {
    border-color: #ff0000; /* Borde rojo más intenso al enfocar */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2); /* Sombra roja al enfocar */
    outline: none; /* Eliminar el borde azul por defecto en algunos navegadores */
}

/* Estilo para los campos de entrada deshabilitados */
.swal2-input:disabled {
    background-color: #f0f0f0; /* Fondo gris claro */
    border-color: #ddd; /* Borde gris claro */
    color: #888; /* Texto gris claro */
    cursor: not-allowed; /* Cursor de no permitido */
}

/* Estilo para los campos de entrada de tipo select */
.swal2-select {
    border: 1px solid #ff4d4d; /* Borde rojo */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
    color: #333; /* Color del texto */
    padding: 8px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para el campo select al recibir foco */
.swal2-select:focus {
    border-color: #ff0000; /* Borde rojo más intenso al enfocar */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.2); /* Sombra roja al enfocar */
    outline: none; /* Eliminar el borde azul por defecto en algunos navegadores */
}